*{
    margin: 0;
    padding: 0;
}

header{
    margin:0 160px;
}

nav{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 20px;
    font-size: 30px;
}

.btn{
    color: #2E846F;
    border:1px solid #2E846F;
    border-radius: 5px;
    padding: 5px 10px;
}

.banner{
    /* height:560px; */
    padding: 60px;
    background-color: #C6E4D6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}


.banner-content{
    width: 622px;
    display: flex;
    flex-direction: column;

}


.banner-content p{
    padding: 5px;
    color: #899D93;
}

.banner-content h2{
    padding: 10px;
    font-size: 50px;
}

.banner-button{
    color: white;
    background-color: #328772;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

